go 1.24.0

toolchain go1.24.3

use (
	./common/go
	./config
	./core/go
	./domains/integration-test
	./domains/noto
	./domains/zeto
	./operator
	./registries/evm
	./registries/static
	./rpcauth/basicauth
	./sdk/go
	./signingmodules/example
	./test
	./testinfra
	./toolkit/go
	./transports/grpc
)
