go 1.23.0

toolchain go1.23.10

use (
	./common/go
	./config
	./core/go
	./domains/integration-test
	./domains/noto
	./domains/zeto
	./operator
	./perf
	./registries/evm
	./registries/static
	./sdk/go
	./testinfra
	./toolkit/go
	./transports/grpc
)
